/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}

/* Стили для списка товаров */
ul {
  list-style: none;
  padding: 0;
}

li {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Стили для корзины покупок */
ul.cart {
  margin-top: 20px;
}

/* Стили для кнопок в корзине */
.cart-button {
  background-color: #ff4136;
}

.cart-button:hover {
  background-color: #ff4136;
}

.btn::before,
.btn::after {
  content: "";
  position: "absolute";
  inset: -2px;
  background-color: inherit;
  border-radius: inherit;
  background-image: conical-gradient(
    from var(--angle) at 50% 50%,
    transparent 0%,
    transparent 33%,
    hsl(var(--primery)) 50%,
    transparent 60%,
    transparent 100%
  );
  animation: rotate 2s infinite linear;
  z-index: -1;
}
.btn::before {
  filter: blur(15px);
}

.inner {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    100px circle at 
    var(--mouseX) var(--mouseY),
    hsl(var(--primary) / 0.3),
    transparent 50%
  );
  border-radius: inherit;
  z-index: 0;
  opacity: 0;
}

.btn{
  color: purple;
  width: 100px;
}

.btn:hover .inner{
  opacity: 1;
}